html {font-family: Verdana; background-color: black; text-align: center;
}
h1 {font-size: 50px; color: white; font-weight: normal;}
#link {color: aquamarine; font-size: 16px;}
h2 {font-weight: 300; color: white; font-size: 42px;}
p {color: gray; font-size: 21px;}
#copyright {text-align: right;}
